<html>
	<head>
		<title>BitContracts MANAGER</title>
	</head>

	<body>
		<div id="app"></div>
	</body>
</html>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="libraries/sha256.js"></script>
<script src="libraries/cryptico.js"></script>
<script src="libraries/vue.js"></script>

<script src="components/component-auth.js"></script>
<script src="components/component-uploader.js"></script>
<script src="components/component-form.js"></script>
<script src="components/component-contracts.js"></script>
<script src="components/component-more-info.js"></script>
<script src="components/component-dialog-message.js"></script>
<script src="components/component-targeter.js"></script>

<script src="mixins/manager.js"></script>
<script src="mixins/contracts-methods.js"></script>
<script src="mixins/generators.js"></script>

<script>
let App = {
	el: '#app', 
	template: `
	<div id="app">
		<div class="custom-header" @click="tooglePanels()">
				<h1>⎌bitContracts MANAGER</h1>
				<div class="sub-custom-header">Create smart economy now!</div>
		</div>	
		<div id="RTA_board" :class="app.boardCss">
			<div class="custom-content flex">
				<div class="f200 menu">

					<div v-if="!user.RSA" class="message field-message"> 
						First, authenticate user! 
					</div>

					<!-- auth -->
					<h2>Authentication</h2>
					<component-auth/>

					<!-- menu -->
					<div class="items">
						<div
							:class="['board_menu_item',{'active' : (item.component==app.bodyContent.tpl)}]"
							v-for="(item, index) in app.boardMenu" 
							v-on:click="alert()">
							{{item.label}}
						</div>
					</div>
				</div>
				<div class="fminus200">

					<!-- Contracts area -->
					<component
						ref="app.bodyContent"
						:me="app.bodyContent.me"
						:is="app.bodyContent.tpl"
					/>
					<!-- uploader -->
					<h2>Load contract from file</h2>
					<component-uploader :me="{method: 'uploadContract'}"/>

					<!-- uploader -->
					<h2>Load contract from text</h2>
					<p>Copy contract code example from email</p>
					<textarea v-model="import_text"></textarea>
					<button class="jsdft-button full"
						@click="uploadContract(JSON.parse(import_text))">
						Load from text
					</button>
				</div>
			</div>
		</div>

		<!-- right bar -->
		<div 
			id="RTA_sidebar" 
			v-if="app.rightBar.tpl">
			<!-- Sidebar HEADER -->
			<div id="RTA_sidebar_header">
				<h1>
					Title <span 
						@click="app.rightBar.tpl=false; app.boardCss.remove('minus20');" 
						class="xclose">X</span>
				</h1>
				<div class="rta_sidebar_header_subtitle">
					Subtitle
				</div>
		    </div>
		    <component
					ref="app.rightBar"
					:me="app.rightBar.me"
					:is="app.rightBar.tpl"
				/>
		</div>
		
		<div class="custom-footer">
			<a href="#">Dont readme</a>
		</div>

		<div 
			id="dialog" 
			:class="app.dialog.class"
			v-if="app.dialog.tpl">
			<span @click="app.dialog.tpl=false" class="xclose">X</span>
			<h2>Dialog message</h2>

			<component
					id="dialog-body"
					ref="app.dialog"
					:me="app.dialog.me"
					:is="app.dialog.tpl"
				/>
			<div class="dialog-decorator"></div>
		</div>

		<component
			v-if="app.targeter.tpl"
			id="targeter"
			ref="app.targeter"
			:me="app.targeter.me"
			:is="app.targeter.tpl"
		/>
	</div>	
	`,
	data () {
		return {
			import_text:null,
			app: {
				RSA: null,
				publicKey: null,
				storageContracts: JSON.parse(
					localStorage.getItem('contracts')) || [],
				boardCss: ['boxscroll'],
				boardMenu:[
					{
						label:'My Contracts',
						component: 'component-contracts'
					},
					{
						label:'Contracts Market',
						component: 'component-contracts-market'
					},
					{
						label:'GTM manager',
						component: 'component-gtm'
					}
				],
				bodyContent: {
					tpl: 'component-contracts',
					me: null,
				},
				rightBar: {
					tpl: false,
					me: {},
				},
				dialog:{
					tpl: false,
					class: [],
					me: {},
				},
				targeter:{
					tpl: false,
					me: {},
				}
			},
			user:{
				RSA: null,
				publicKey: null,
				login: null,
				email: null,
			},
			falseMessages:{
				'not_auth' : 'Please finish authentication as user.',
				'shema_sign' : 'Contract is active now.',
				'not_active_contract': 'To activate this contact, create owner signature.',
				'access_locked': 'Access locked. Auth as contract owner.',
			}
			
		}
	},
	mixins : [manager, contractMethods, generators],
	methods: {

		/* TODO - change getActiveShemaName to getActiveAttachmentName */
		getActiveShemaName(_contract){
			return _contract.dataLayer.attachmentShow[_contract.dataLayer.attachmentShow.length - 1]
			/* this es6 construct remove last  */
			// return [..._contract.dataLayer.attachmentShow].pop();
		},
		getActiveAttachment(_contract){
			return _contract.attachments.find(
				x => x.name === (this.getActiveShemaName(_contract)));
		},
		contractAction(_contract, _form){
			const self = this;
			
			/* always update data layer by attachment form data */
			for (let key in _form) {
				self['setDataLayer']({
					contract: _contract,
					key: key,
					value: _form[key],
				})
			}
			/* now run contracts actions (call by key value) */
			this.getActiveAttachment(_contract).action.calls.forEach(
				(call) => { 
					try {
						self[call.mainMethod]({ 
							...call.attrs, 
							contract: _contract,
							form: _form,
						});
					} catch(err) {
						alert('contract method:'+call.mainMethod+' isnt exist')
					}
			});
		},
		

		/* signs logic */
		activateContract(_contract){
			/* guardians */
			if(!this.valid_user_login()) return this.guardFalseMsg('not_auth');
			if(_contract.signs.length) return this.guardFalseMsg('shema_sign');
			/* make initial sign (sign schema) */
			
			this.sign({contract: _contract})

			this.$root.setStorageContracts();
			alert('The contract has been signed');
		},

		setStorageContracts(){
			localStorage.setItem('contracts', JSON.stringify(this.app.storageContracts));
		},
		guardFalseMsg(_msg){
			this.app.dialog.class = ['warning'];
			this.app.dialog.tpl = 'component-dialog-message';
			this.app.dialog.me.body = this.falseMessages[_msg];
			return false;
		},

		/* validators - app */
		valid_user_login(){
			if(this.user.RSA) return true; 
		},
		valid_contract_is_active(_contract){
			if(_contract.signs.length > 0) return true; 
		},
		valid_check_attachment_permission(_contract){

			const _permission = this.getActiveAttachment(_contract).permission;

			if(_permission == "owner"){
				[first] = _contract.signs;
				return this.valid_sign_owner(first.signature);
			}
			if(_permission == "all"){
				return true;
			}
		},

		/* validators - contract */
		valid_sign_owner(_sign){
			if(this.user.RSA && cryptico.decrypt(_sign, this.user.RSA).signature == 'verified'){
				return true;
			}else{
				return false;
			}
		},

		/* ## check is I edited My form */
		valid_schema_owner(_contract){

		},
		/* ## active contract have signed email data and login data */
		/* ## contract attachment names mustbe unique */
		/* ## dataLayer objects in values have only arrays types */

	},
};
let AppInstance = new Vue(App);

/* confirm reaload page */
// window.addEventListener('beforeunload', function (e) {
//   e.preventDefault();
//   e.returnValue = '';
// });

Array.prototype.remove = function() {
	var what, a = arguments, L = a.length, ax;
	while (L && this.length) {
		what = a[--L];
		while ((ax = this.indexOf(what)) !== -1) {
			this.splice(ax, 1);
		}
	}
	return this;
};

</script>

<div style="margin:0 20%">
<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>

<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?</p>
</div>
